<div style="margin-top: -24px;" class="panel panel-default panel-settings">
  <h5 style="font-size: 18px; font-weight: 600;margin-top: 25px;">Remove account</h5>
  <br>
  <div>
    <div class="alert alert-danger" role="alert">
      <h5 style="font-size: 13px;font-weight: 600;">Are you sure that you want to delete your account?</h5>
      <h5 style="font-size: 13px;font-weight: 600;">Deleting the account is irreversible!</h5></div>
    <button  type="button" class="btn shift-submit cancel my-3" onclick="cancelClicked()">Cancel</button>
    <button  type="button"  class="btn shift-submit remove my-3" data-dismiss="modal" onclick="removeAccount()">Remove</button>
  </div>
</div>
