<div class="container main">
  <h3>About Us</h3>
  <p>Etklm helps you in discovering your strengths and areas for improvement by receiving honest feedback from your employees and your friends in a private manner</p>
  <hr>


  <h4 class="my-4">FAQ</h4>
  <dl>
    <h5>Will Etklm show the identity of senders?</h5>
    <p>Etklm won't disclose the identity of the logged-in senders to users except with their consent.</p>
    <h5>Is Etklm a hacker?!</h5>
    <p>Etklm doesn't steal data but websites and apps impersonating Etklm could do that</p>
    <h5>Can Etklm visitors view my messages?</h5>
    <p>They can't as long as you don't share your messages</p>
    <h5>Is there a Etklm mobile app?</h5>
    <p>Yes, the official Etklm app is on Google Play and App Store</p>
    <h5>Can I replay to messages?</h5>
    <p>You can't replay to messages now. We are studying this option</p>
  </dl>
  <br>

</div>
