<div class="container mainDiv">
  <div class="overlay">
   <div class="text-center  center-block formDiv">
          <div class="row justify-content-center" style="display: initial">
                    <h1 header>Reset Password</h1>
                    <p class="text-muted">We will send you an email with a new generated password.</p>
                    <div class="row">
                      <div class="col-12">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
                          <div class="input-group-shift mb-3" [ngClass]="validateGroup('email')">
                            <label for="reset" class="label-shift">Email</label>
                            <input id="reset" type="text" formControlName="email" class="shift-input"
                                   placeholder="Your Email">
                                   <div *ngIf="validateControl('email')" class="error text-left ">
                                      <p *ngIf="validateError('email','pattern')" class="validate-shift text-center"><i
                                        class="fa fa-exclamation-triangle" aria-hidden="true"></i> Enter a valid email format</p>
                                      <p *ngIf="validateError('email','required')"  class="validate-shift text-center"><i
                                        class="fa fa-exclamation-triangle" aria-hidden="true"></i> Required field</p>
                                    </div>       <button class="ml-2 px-3 py-2 shift-submit float-right mt-5" [ladda]="laddaLoader"
                                    data-spinner-color="grey"
                                      [disabled]="form.invalid" (click)="onSubmit()">Reset
                              </button>
                             
                          </div>
                          <div *ngIf="asyncErrorMsg" class="form-control-feedback has-danger">
                            <p class="text-danger">{{asyncErrorMsg}}</p>
                          </div>
                          <div *ngIf="asyncSuccessMsg" class="form-control-feedback has-success">
                            <p class="text-success">{{asyncSuccessMsg}}</p>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    