@import '../../../scss/main';

.shift-input{
  padding: 4px 7px 2px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(50,50,93,.16), 0 0 0 1px rgba(50,151,211,0), 0 0 0 2px rgba(50,151,211,0), 0 1px 1px rgba(0,0,0,.08);
  color: $primaryColor;
  cursor: text;
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  border: none;
  border-style: none;
  width:75%;
}
.label-shift{
  width: 20%;
  text-align: left;
  padding-right: 8px;
  font-size: 14px;
  font-weight: 500;
}
.card-header-shift{
  padding-bottom: 16px;
  box-shadow: inset 0 -1px #e6ebf1;
  background-color: #ffffff;

}
.card-header-shift h5{
  font-weight: 500;
  font-size: 14px;
}
.card-block-shift{
  margin: 0;
  padding: 10px 0;
  margin-bottom: 2px;

  border: 0;
}
.card-footer-shift{
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  padding-bottom: 12px;
  padding-top: 12px;
  direction: ltr;

}

.shift-submit{
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  color: $primaryColor;
  box-shadow: 0 0 0 1px rgba(50,50,93,.1), 0 2px 5px 0 rgba(50,50,93,.06), 0 1px 1px 0 rgba(0,0,0,.04), 0 1px 2px 0 rgba(0,0,0,.04), 0 0 0 0 transparent;
  border-style: none;
  color: rgba(0,0,0,0.7);
  //float: right;
}
.validate-shift{
  color: $dangerColor;
  font-size: 13px;
  font-weight: 400;
}
@media  (max-width: 770px){
.label-shift{
  font-size: 12px;
  margin-right: 5px;
}
}
.setContent{
  background-color: white;

}
