<div class="card-header-shift">
  <h5 style="font-size: 18px; font-weight: 600">Change Password</h5>
</div>
<div class="card-block-shift">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
    <div class="input-group-shift mb-3" [ngClass]="validateGroup('currentPassword')">
      <div class="input-group-shift my-1" >
        <label for="currentpass" class="label-shift">Current Password</label>
        <input  type="password" id="currentpass" formControlName="currentPassword"
               class="shift-input" placeholder="Enter Current Password">
      </div>
      <div *ngIf="validateControl('currentPassword')" class="form-control-feedback">
        <p  *ngIf="validateError('currentPassword','required')" class="text-center validate-shift"><i
          class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          You have to provide current password</p>
      </div>
    </div>
    <div class="input-group-shift" [ngClass]="validateGroup('password')">
      <div class="input-group-shift">
        <label for="newpass" class="label-shift">New Password </label>
        <input  type="password" id="newpass" formControlName="password"
               class="shift-input" placeholder="Enter New Password">
      </div>
      <div *ngIf="validateControl('password')" class="form-control-feedback">
        <p  *ngIf="validateError('password','minlength')" class="text-center validate-shift"><i
          class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Enter Minimum Number of 8 characters</p>
        <p  *ngIf="validateError('password','maxlength')" class="text-center validate-shift"><i
          class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Enter Maximum Number of 30 characters</p>
        <p  *ngIf="validateError('password','required')"  class="text-center validate-shift"><i
          class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Enter New Password</p>
      </div>
    </div>
    <div class="form-group mb-3" [ngClass]="validateGroup('passwordConfirmation')">
      <div class="input-group mt-2">
        <label for="newpasscon" class="label-shift">Reenter new password </label>

        <input  type="password" id="newpasscon" formControlName="passwordConfirmation"
               class="shift-input"
               placeholder="Reenter new password">
      </div>
      <div *ngIf="validateControl('passwordConfirmation')" class="form-control-feedback">
        <p  class="text-center" *ngIf="validateError('passwordConfirmation','matchFailed')"
            class="text-center validate-shift"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Password don't match</p>
        <p  class="text-center validate-shift" *ngIf="validateError('passwordConfirmation','required')"><i class="fa fa-exclamation-triangle  " aria-hidden="true"></i>
         Enter New password</p>
      </div>
    </div>
  </form>

</div>
<div class="card-footer-shift d-flex justify-content-sm-end">
  <button class="px-3 py-1 shift-submit" [ladda]="laddaLoader" data-spinner-color="grey"
          [disabled]="form.invalid" type="submit" (click)="onSubmit()">Change
  </button>
</div>
