<div class="container mt-5 container-mobile p-t-md">


  <h2>Terms and Conditions</h2>
  <br>

  <div>
    <p>
      All users must comply with the terms and conditions on this page
    </p>

    <h4>Public Use</h4>
    <p>
      All users should commit to ethics and values and should refrain from insult and abuse of the site.
    </p>

    <h4>Privacy Policy</h4>
    <p>
      All users have to read the privacy policy linked to in the footer and their use of the website implicates agreement to the policy.
    </p>

    <h4>Denial of Access</h4>
    <p>
      Etklm has the right to block any user from accessing the website or using it's services in general.
    </p>

    <h4>Impersonation</h4>
    <p>
      Impersonation by name or subdomain is not allowed and Etklm has the right to take adequate actions.
    </p>

    <h4>Inactive Accounts</h4>
    <p>
      Etklm has the right to remove inactive accounts under the duration that Etklm sees adequate.
    </p>

    <h4>Removal of Messages and Accounts</h4>
    <p>
      Etklm has the right to remove any message or account with the justification that the website management sees adequate.
    </p>

    <h4>Information</h4>
    <p>
      Etklm has the right to use the information input by users with agreement to the privacy policy
    </p>

    <h4>E-mail</h4>
    <p>
      Etklm has the right to e-mail users with what Etklm sees adequate with the option to unsubscribe from notification e-mails
    </p>

    <h4>Modifications of Terms and Conditions</h4>
    <p>
      We have the right to modify terms and conditions if needed and whenever adequate
    </p>

    <h4>Limits of Responsibility</h4>
    <p>
      All communicated content on the website is the responsibility of their owners and Etklm is not responsible for its content or any damage that could result from this content or the use of any of the site's services.
    </p>

    <h4>Contact Us</h4>
    <p>
      You can  contact us using the "Contact Us" page.
    </p>
  </div>
  <br>

</div>
