
<div class="container view px-4">
    <div class="row">
                <div class="text-center nain info col-md-12 mb-4" style="background-color: white; border-radius: 6px" >
                    <img (click)="openModal3(template2)"  class="profile-img" style="cursor: pointer" src="../../assets/avatar/avatar.png">
                        <h5 class="panel-title mt-2">
                            <span class="text-inheritr ">
                              <i [routerLink]="['/home/settings']" style="color: #0f3659; cursor:pointer;" tooltip="Settings" class="fa fa-cog"></i></span>
                            <a class="user_name" >User_name</a>
                        </h5>
                      <br>
                  <a style="color: #0a2843;"  [routerLink]="['/home/my-account']" class="user_name" ><span tooltip="View account" class="text-inherit" >View My Account </span></a>
                </div>
                <div  class="text-center data col-md-12" style="background-color: white;  border-radius: 6px" >
                    <div class="header text-center col-lg-12 mb-4">
                      <span>
                      <i class="fa fa-comments" style="font-size:30px; margin: 0"></i>
                      </span>
                      &nbsp;&nbsp;
                      <span class="h2">All Messages</span>
                    </div>
                    <div class="messages text-left col-lg-12 ">
                            <div class="tabs-nav">
                              <div class="justify-content-between">
                                <ul   class="px-3" style="margin-bottom: 0px;">
                                <li class="messagesTabs" (click)="receivedClicked()" [ngClass]="{'active' : recrived}" >Received</li>
                                <li class="messagesTabs"  (click)="favoriteClicked()" [ngClass]="{'active' : favorite}" >Favorite</li>
                                <li class="messagesTabs" (click)="sentClicked()" [ngClass]="{'active' : sent}" >Sent</li>
                              </ul>
                              </div>
                        </div>
                    </div>     <!-- end header of messages-->
                    <div [ngBusy]="busy"  class="messageContent text-left col-lg-12 mt-5">
                      <div *ngIf="recrived">
                        <app-received></app-received>
                      </div>
                      <!-- end content of messages for received-->
                      <!-- start content of messages for favorite-->
                 <div *ngIf="favorite">
                   <app-favorite></app-favorite>
                 </div>
                      <!-- end content of messages for favorite-->
                      <!-- start content of messages for sent-->
                      <div *ngIf="sent">
                        <app-sent></app-sent>
                      </div>
                      <!-- end content of messages for sent-->
                    </div>

                </div> <!-- end of main-->
          </div> <!-- end ofrow -->
    </div> <!-- end of messages-->




<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title" id="photoModalLabel">Change photo</h4>
    <button type="button" (click)="modalRef3.hide()" class="close float-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

  </div>
  <div class="modal-body">
    <small style="font-size: 78%">The file size of the photo should not exceed 10 MB</small>
  <a>  <i class="fas fa-cloud-upload-alt"></i></a>
    <input type="file" accept="image/*" id="PhotoFile" style="display: none" > <div class="input-group-shift my-1">
    <label for="file-upload" class="shift-input-upload photoUp">
      <i class="fa fa-cloud-upload" aria-hidden="true"></i><span class="ml-1" style="font-size: 13px">Browse</span>
    </label>
    <input type="file" id="file-upload" accept="image/*" style="display: none" (change)="uploadNewAvatar($event)">
    <i *ngIf="laddaLoader2" class="fa fa-spinner"></i>
    <i *ngIf="!laddaLoader2 && uploadAvatarSuccess && uploadAvatarSuccess === 'success'" class="fa fa-check"></i>
    <i *ngIf="!laddaLoader2 && uploadAvatarSuccess && uploadAvatarSuccess === 'failed'" class="fa fa-times"></i>
  </div>
  </div>
  <div class="modal-footer">
    <button  type="button" class="btn shift-submit upload" onclick="uploadPhoto()">Upload</button>
    <button  type="button"  class="btn shift-submit remove" data-dismiss="modal" onclick="removePhoto()">Remove Photo</button>
  </div>
</ng-template>
